<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Snoochat</title>
  <meta name="description" content="Page not found">
  <meta name="author" content="SitePoint">

  <link rel="stylesheet" href="css/styles.css?v=1.0">

</head>

<body>
  <h1>404 Page not found</h1>
</body>
</html>
