<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Snoochat</title>
  <meta name="description" content="About me">
  <meta name="author" content="Tony Zhang">

  <link rel="stylesheet" href="css/styles.css?v=1.0">

</head>

<body>
  <h1>About Snoochat</h1>
  <p>I've always enjoyed browsing reddit and I've always thought it would be cool to chat with other people who liked the same things that I liked.
    And since I studied computer science and had nothing better to do, I decided to make this nifty site to unite people in communities.
    Mission statement is simple, "Unite communities through chat". So long as people are not rude, they are welcome. <br>

    I don't have any plans on placing ads or tracking people's information and selling them right now. I'm frankly too lazy to do that.</p>

  <h1>About Me</h1>
  <p1>Hello, My name is Tony and I'm a university student at UWaterloo. When I'm not playing wth computer code or studying, I usually
    play OverWatch or league of legends. My dream one day is to see the projects that I worked on be used by everyone around the world.
    I guess it is cliche to say this but my hero is Bill Gates. His humanitarian work is amazing and has donated billions instead of being greedy.
    I do hope one day to be just as amazing as him.</p1>



</body>
</html>
