<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="Use Subreddits as chatroom topic">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>SnooChat</title>


	<!-- Disable tap highlight on IE -->
	<meta name="msapplication-tap-highlight" content="no">

	<!-- Web Application Manifest -->
	<link rel="manifest" href="manifest.json">

	<!-- Add to homescreen for Chrome on Android -->
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="application-name" content="Friendly Chat">
	<meta name="theme-color" content="#303F9F">

	<!-- Add to homescreen for Safari on iOS -->
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
	<meta name="apple-mobile-web-app-title" content="Friendly Chat">
	<meta name="apple-mobile-web-app-status-bar-style" content="#303F9F">

	<!-- Tile icon for Win8 -->
	<meta name="msapplication-TileColor" content="#3372DF">
	<meta name="msapplication-navbutton-color" content="#303F9F">

	<!-- Material Design Lite -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.min.css">

	<!-- App Styling -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
	<link rel="stylesheet" href="css/styles.css">
</head>
<body id="body">
	<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
	  <header class="mdl-layout__header">
	    <div class="mdl-layout__header-row">
	      <!-- Title -->
	      <span class="mdl-layout-title">
					<% if (typeof channel == 'undefined') { %>
						<h3 id="Channel">ALL</h3>
					<% } else { %>
						<h3 id="Channel"><%= channel %></h3>
					<% } %>
				</span>
	      <!-- Add spacer, to align navigation to the right -->
	      <div class="mdl-layout-spacer"></div>

				<div class="android-search-box mdl-textfield mdl-js-textfield mdl-textfield--expandable mdl-textfield--floating-label mdl-textfield--align-right mdl-textfield--full-width">
          <label class="mdl-button mdl-js-button mdl-button--icon" for="search-field">
            <i class="material-icons" id="search-button" >search</i>
          </label>
          <div class="mdl-textfield__expandable-holder">
            <input class="mdl-textfield__input" type="text" id="search-field">
          </div>
        </div>
				<% if (typeof user == 'undefined') { %>
					<a href="http://snoochat.com/auth/reddit" id="sign-in">
						<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
							Sign In
						</button>
					</a>
				<% } else { %>
					<a href="http://snoochat.com/logout" id="sign-out">
						<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
							Sign out
						</button>
					</a>
				<% } %>
	    </div>
	  </header>
	  <div class="mdl-layout__drawer">
	    <span class="mdl-layout-title">
				<% if (typeof user == 'undefined') { %>
					<h3 id="username">anonymous</h3>
				<% } else { %>
					<h3 id="username"><%= user.name %></h3>
				<% } %>
			</span>
	    <nav class="mdl-navigation">
	      <a class="mdl-navigation__link" href="/">All</a>
	      <a class="mdl-navigation__link" href="/r/Android">Android</a>
	      <a class="mdl-navigation__link" href="/r/UWaterloo">UWaterloo</a>
	      <a class="mdl-navigation__link" href="/r/ProgrammerHumor">ProgrammerHumor</a>
				<a class="mdl-navigation__link" href="/r/worldnews">worldnews</a>
				<a class="mdl-navigation__link" href="/r/funny">funny</a>
				<a class="mdl-navigation__link" href="/r/politics">politics</a>
				<a class="mdl-navigation__link" href="/r/hockey">hockey</a>
				<a class="mdl-navigation__link" href="/r/baseball">baseball</a>
				<a class="mdl-navigation__link" href='https://play.google.com/store/apps/details?id=tzcorp.snoochat&hl=en&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'><img  class="googlebadge" alt='Get it on Google Play' src='https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png'/></a>
	    </nav>
	  </div>
		<main class="mdl-layout__content mdl-color--grey-100">
	      <!-- Messages container -->
      <div class="mdl-card__supporting-text mdl-color-text--grey-600">
        <div id="messages">
          <span id="message-filler"></span>
        </div>
        <form id="message-form" action="#">
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" id="message-input">
            <label class="mdl-textfield__label" for="message">Message...</label>
          </div>
          <button id="submit" type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
            Send
          </button>
        </form>
      </div>
	  </main>
	</div>



  <!-- Import and configure the Firebase SDK -->
  <script src="https://www.gstatic.com/firebasejs/4.1.2/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/4.1.2/firebase-auth.js"></script>
  <script src="https://www.gstatic.com/firebasejs/4.1.2/firebase-database.js"></script>
  <script src="https://www.gstatic.com/firebasejs/4.1.2/firebase-messaging.js"></script>

  <script src="https://www.gstatic.com/firebasejs/4.1.2/firebase.js"></script>
  <script>
    // Initialize Firebase
  	var config = {
      apiKey: "AIzaSyDx6MUT4OT0ockNko0JdW-tI6ByAmvGbLY",
      authDomain: "snoochat-e588c.firebaseapp.com",
      databaseURL: "https://snoochat-e588c.firebaseio.com",
      projectId: "snoochat-e588c",
      storageBucket: "snoochat-e588c.appspot.com",
      messagingSenderId: "521913760604"
    };
    firebase.initializeApp(config);
  </script>
  <script src="scripts/firebase.js"></script>
	<script src="scripts/main.js"></script>
  <script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
</body>
</html>
