#message-form {
  position: fixed;
  display: flex;
  flex-direction: row;
  bottom: 0px;
  width: 95%;
  height: 50px;
  z-index: 99;
  padding-left: 20px;
  padding-right: 20px;
  background: #ffffff;
}
#image-form {
  display: flex;
  flex-direction: row;
  width: 48px;
  float: right;
}
#message-form .mdl-textfield {
  width: calc(100% - 100px);
}
#message-form button, #image-form button {
  width: 100px;
  margin: 15px 0 0 10px;
}

.message-container .message {
  font-size: 30px;
  color: black;
}

#messages {
  margin: 0;
  line-height: 1;
  padding: 10px 20px 45px 20px;
  margin-bottom: 10px;
}

.main_content{
  width: 100%;
  padding: 0;
}
